//Susy configuration
//Documentation http://susydocs.oddbird.net/en/latest/

$images-path: "../img/"; //images path
//$fonts: "../fonts/"; //fonts path

//Basic project styles
$primaryFont: "PT Sans", "Arial", "Helvetica", sans-serif;

$fontSizeBase: 17px;

$colorBg: #f2f2f1;
$color-primary: #e9446e;
$colorSecondary: #52a7ff;
$color-accent: #3d4255;

$bgSecondary: #e8f2ff;
$color-light: #f0f6ff;

$color-text: #3d4255;
$color-headings: #1f202b;

$fontFamilyBase: "PT Sans", "Arial", "Helvetica", sans-serif;
$fontFamilyHeadings: "Intro", "Arial", "Helvetica", sans-serif;

$fontCursive: "Tinos", cursive;
$secondaryMenuColor: #ada08e;

$colorLink: $color-primary;
$colorLinkHover: darken($color-primary, 10%);
$colorBorder: #c9cace;
