# Env
/*.env

# Composer
/vendor
composer.phar

# JS
.yarn
frontend/web/.pnp.cjs
frontend/web/.pnp.loader.mjs
node_modules
spa/npm-debug.log
spa/yarn-error.log

# IDE
.idea
nbproject
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# phpunit
phpunit.phar
/phpunit.xml

# Vagrant
/.vagrant

# Tests
tests/codeception/*/_support/_generated/*
/storage/web/Nginx_1.17_vhost.conf
