.developments-content {
  margin-bottom: 80px;

  &__columns {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  &__column {
    padding: 0 20px;

    &--left {
      max-width: 50%;
      flex: 0 50%;
      padding-left: 60px;
    }

    &--right {
      max-width: 50%;
      flex: 0 50%;
    }
  }

  &__title {
    color: $colorPrimary;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }

  strong {
    color: $colorPrimary;
  }
}
