@import "home/h-illustration";
@import "home/info-numbers";
@import "home/h-content";
@import "home/services-box";

/**
 * Info section
 */
.h-info {
  padding: 140px 0 140px;

  &__heading {
    margin-bottom: 30px;
    border-left: 3px solid $colorPrimary;
    padding-left: 10px;
  }

  &__title {
    font-size: 1.5rem;
    padding: 0 0 0.5rem;
    line-height: 1;
    text-transform: uppercase;
  }

  &__subtitle {
    font-family: $fontCursive;
    font-size: 1.3rem;
    line-height: 1;
  }

  &__content {
    display: flex;
    margin: 0 -15px;
    padding: 0 50px;
  }

  &__column {
    max-width: 50%;
    flex: 0 0 50%;
    padding: 0 15px;
  }
}

/**
 * Portfolio section
 */
.h-portfolio {
  background: url(../img/work-box-bg.jpg) center center no-repeat;
  background-size: cover;

  &__inner {
    background: url(../img/pattern.png);
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 80px 0 60px;
  }

  &__heading {
    color: #fff;
  }

  &__title {
    font-weight: 700;
    color: #fff;
  }

  // Links
  &__links {
    margin-top: 80px;
    text-align: center;
  }

  &__links-inner {
    position: relative;
    display: inline-block;
  }

  &__arrow {
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    left: -158px;
    top: -13px;
  }

  &__more-btn {
    vertical-align: middle;
    margin-top: 10px;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 40px;

    &::before {
      content: "";
      position: absolute;
      left: 11px;
      top: 10px;
      background: url("../img/ico-connection.png") 0 0 no-repeat;
      width: 22px;
      height: 22px;
    }
  }
}

/**
 * Team and posts section
 */
.h-team-posts {
  position: relative;
  background: $bgSecondary;
  margin-top: 60px;

  &__bg-top {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;

    svg {
      display: block;
    }

    .shape-fill {
      fill: $bgSecondary;
    }
  }

  &__inner {
    display: flex;
    flex-flow: row wrap;
    padding: 20px 0 60px;
    margin: 0 -15px;
  }

  &__column-1 {
    width: 50%;
    padding: 0 15px;
  }

  &__column-2 {
    width: 50%;
    padding: 0 15px;
  }
}
