@import "home/h-illustration";
@import "home/info-numbers";
@import "home/h-content";

/**
 * Info section
 */
.h-info {
  padding: 140px 0 140px;

  &__heading {
    margin-bottom: 30px;
    border-left: 3px solid $colorPrimary;
    padding-left: 10px;
  }

  &__title {
    font-size: 1.5rem;
    padding: 0 0 0.5rem;
    line-height: 1;
    text-transform: uppercase;
  }

  &__subtitle {
    font-family: $fontCursive;
    font-size: 1.3rem;
    line-height: 1;
  }

  &__content {
    display: flex;
    margin: 0 -15px;
    padding: 0 50px;
  }

  &__column {
    max-width: 50%;
    flex: 0 0 50%;
    padding: 0 15px;
  }
}

/**
 * Services
 */
.h-services {
  border-top-width: 20px !important;
  margin: 20px 0 160px;
  padding-top: 120px;
  position: relative;
  background: $bgSecondary;

  &__bg-top {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;

    svg {
      display: block;
    }

    .shape-fill {
      fill: $bgSecondary;
    }
  }

  &__bg-bottom {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    transform: rotate(180deg);

    svg {
      display: block;
    }

    .shape-fill {
      fill: $bgSecondary;
    }
  }

  &__row {
    margin-bottom: 30px;
  }

  &__item {
    padding-left: 15px;
    padding-right: 15px;
  }

  &__buttons {
    text-align: center;
  }

  &__more-link {
    font-weight: 700;
    font-size: 1.15rem;
    text-decoration: none;
    border-bottom: 1px dotted #2d2d2d;

    &:active,
    &:focus,
    &:hover {
      text-decoration: none;
      border-color: transparent;
    }
  }
}

.services-box {
  display: flex;

  &__item {
    width: 25%;
    padding: 0 15px;
  }
}

.service-box {
  $this: &;

  &__inner {
    position: relative;
    width: 100%;
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(45, 45, 45, 0.35);
    transition: all 0.3s ease-in-out 0.1s;
  }

  &__thumb {
    margin-bottom: 10px;
  }

  &__title {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease-in-out 0.4s;
    padding: 25px;
    overflow: hidden;

    a {
      display: block;
      text-decoration: none;
    }

    span {
      position: relative;
      display: inline-block;
      color: $colorPrimary;
      text-transform: uppercase;
      font-size: 0.8888rem;
      font-weight: 900;
      font-family: $fontFamilyHeadings;
      padding: 5px 20px;
      background: #fff;
      line-height: 1.2;
      margin-bottom: 5px;
    }

    span:nth-of-type(1) {
      transition: all 0.3s ease-in-out 0.1s;
    }

    span:nth-of-type(2) {
      transition: all 0.3s ease-in-out 0.2s;
    }

    span:nth-of-type(3) {
      transition: all 0.3s ease-in-out 0.3s;
    }

    span:nth-of-type(4) {
      transition: all 0.3s ease-in-out 0.4s;
    }
  }

  &__button {
    width: 100%;
    font-size: 0.9rem;

    .ico {
      display: inline-block;
      vertical-align: middle;
      background: url(../img/link-ico.png) center center no-repeat;
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }

    .label {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &:hover {
    #{$this}__title {
      span {
        margin-left: -100%;
      }
    }

    #{$this}__overlay {
      opacity: 0;
    }
  }
}

/**
 * Portfolio section
 */
.h-portfolio {
  background: url(../img/work-box-bg.jpg) center center no-repeat;
  background-size: cover;

  &__inner {
    background: url(../img/pattern.png);
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 80px 0 60px;
  }

  &__heading {
    color: #fff;
  }

  &__title {
    font-weight: 700;
    color: #fff;
  }

  // Links
  &__links {
    margin-top: 80px;
    text-align: center;
  }

  &__links-inner {
    position: relative;
    display: inline-block;
  }

  &__arrow {
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    left: -158px;
    top: -13px;
  }

  &__more-btn {
    vertical-align: middle;
    margin-top: 10px;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 40px;

    &::before {
      content: "";
      position: absolute;
      left: 11px;
      top: 10px;
      background: url("../img/ico-connection.png") 0 0 no-repeat;
      width: 22px;
      height: 22px;
    }
  }
}

/**
 * Team and posts section
 */
.h-team-posts {
  position: relative;
  background: $bgSecondary;
  margin-top: 60px;

  &__bg-top {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;

    svg {
      display: block;
    }

    .shape-fill {
      fill: $bgSecondary;
    }
  }

  &__inner {
    display: flex;
    flex-flow: row wrap;
    padding: 20px 0 60px;
    margin: 0 -15px;
  }

  &__column-1 {
    width: 50%;
    padding: 0 15px;
  }

  &__column-2 {
    width: 50%;
    padding: 0 15px;
  }
}
