.s-categories {
  padding: 30px;
  margin-bottom: 30px;
  box-shadow: 0 0 30px -1px rgba(0, 0, 0, 0.11);
  background: url("#{$images-path}wave.svg") center bottom no-repeat  #fff;
  background-size: 100% 50%;

  &__heading {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 15px;
  }

  &__items {
    list-style: none;
    padding: 0;
    margin: 0;
    border-left: 2px solid $colorBorder;
  }

  &__item {
    padding: 0 15px;
    border-left: 2px solid transparent;
    margin-left: -2px;
    font-size: 0.9rem;
    margin-bottom: 5px;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }

    &:hover {
      border-color: $colorSecondary;
    }
  }
}
