.s-categories {
  background: #fff;
  padding: 30px;
  margin-bottom: 30px;
  box-shadow: 0 0 30px -1px rgba(0, 0, 0, 0.11);

  &__heading {
    text-transform: uppercase;
    font-weight: 700;
  }

  &__items {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
