@use "sass:color";
@use "../../vars";

.h-team-posts {
  position: relative;
  background: color.adjust(vars.$color-bg-secondary, $alpha: -0.66);
  margin-top: 60px;

  &__bg-top {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;

    svg {
      display: block;
    }

    .shape-fill {
      fill: vars.$color-bg-secondary;
    }
  }

  &__inner {
    display: flex;
    flex-flow: row wrap;
    padding: 20px 0 60px;
    margin: 0 -15px;
  }

  &__column-1 {
    width: 33.3333%;
    padding: 0 15px;
  }

  &__column-2 {
    width: 66.6666%;
    padding: 0 15px;
  }
}

@media (width <= 992px) {
  .h-team-posts {
    &__column-1 {
      width: 100%;
      padding: 0 15px;
    }

    &__column-2 {
      width: 100%;
      padding: 0 15px;
    }
  }
}
