.blog-grid {
  margin-bottom: 60px;

  &__item {
    margin: 0 0 30px;
  }
}

.blog-grid-item {
  border: 1px solid #f2f2f2;
  padding: 15px;
  box-shadow: 0 0 30px -1px rgba(0, 0, 0, 0.11);

  &__inner {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
  }

  &__thumb {
    background: #000;
    backface-visibility: hidden;
    position: relative;
    max-width: 250px;
    flex: none;

    img {
      transition: opacity 0.35s, transform 0.35s;
      height: auto;
      width: 100%;
    }
  }

  &__thumb-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  &__meta {
    margin: 0 0 15px;
  }

  // Heading
  &__content {
    flex: 1;
  }

  &__heading {
    padding: 0 20px 0 36px;
  }

  &__title {
    padding: 10px 0;
    margin: 0;
    //background: url("../img/light-border.jpg") bottom repeat-x;
    border-bottom: 1px solid $colorBorder;
    font-size: 1.15rem;
    line-height: 1.3;
  }

  &__subtitle {
    padding: 10px 0;
    margin: 0;
    font-size: 0.875em;
    line-height: 1.1;
  }

  &:hover {
    .blog-grid-item__thumb img {
      opacity: 0.5;
      transform: scale(1.1);
      transition: all 0.3s ease-in-out;
    }
  }
}

/**
 * Blog grid item meta
 */

.blog-grid-meta {
  color: #fff;
  display: flex;
  flex-flow: row wrap;

  &__item {
    background: $color-primary;
    color: #fff;
    line-height: 36px;
    height: 36px;
    font-size: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  &__ico {
    display: inline-block;
    font-size: 0.9rem;
    background: #f0f6ff;
    color: $color-primary;
    height: 36px;
    width: 36px;
    text-align: center;
  }

  &__label {
    display: inline-block;
    font-size: 0.8rem;
    padding: 0 15px;
    color: #fff;

    a {
      color: #fff;
    }
  }
}
