.developments-list {
  background: $bgSecondary;
  padding: 60px 0 20px;
  margin-bottom: 200px;
  position: relative;

  &__bg-bottom {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    .shape-fill {
      fill: $bgSecondary;
    }
  }

  &__item {
    margin-bottom: 30px;
  }
}

.developments-list-item {
  $this: &;

  transition: 0.2s ease-in-out;

  &__inner {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  &__thumb {
    backface-visibility: hidden;
    position: relative;
    padding: 8px;
    z-index: 0;
    max-width: 45%;
    flex: 0 0 45%;

    img {
      height: auto;
      width: 100%;
      clip-path: url("#developments-list__clipper");
      transition: 0.2s ease-in-out;
      position: relative;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    &::after {
      content: "";
      clip-path: url("#developments-list__clipper");
      background: #f4f9ff;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  }

  &__content {
    padding-left: 40px;
    max-width: 55%;
    flex: 0 0 55%;
  }

  &__meta {
    margin-bottom: 10px;
  }

  // Heading
  &__heading {
    margin-bottom: 20px;
  }

  &__title {
    padding: 10px 0;
    margin: 0;
    background: url(../img/light-border.jpg) bottom repeat-x;
  }

  &__subtitle {
    padding: 10px 0;
    margin: 0;
    font-size: 0.875em;
    line-height: 1.1;
  }
}

/**
 * Blog grid item meta
 */

.developments-list-meta {
  color: #fff;
  display: flex;
  flex-flow: row wrap;

  &__item {
    background: $colorPrimary;
    color: #fff;
    margin-right: 5px;
    line-height: 36px;
    height: 36px;
    font-size: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  &__ico {
    display: inline-block;
    font-size: 0.9rem;
    background: #fff;
    color: $colorPrimary;
    height: 36px;
    width: 36px;
    text-align: center;
  }

  &__label {
    display: inline-block;
    font-size: 0.9rem;
    padding: 0 5px;
    color: #fff;

    a {
      color: #fff;
    }
  }
}
