.developments-list {
  background: $bgSecondary;
  padding: 60px 0 20px;
  margin-bottom: 200px;
  position: relative;

  &__bg-bottom {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
  }
  &__shape-fill {
    fill: $bgSecondary;
  }

  &__item {
    margin-bottom: 30px;
  }
}

.developments-list-item {
  $this: &;

  background: #fff;
  transition: 0.2s ease-in-out;

  &__inner {
    position: relative;
    display: flex;
    flex-flow: row wrap;
  }

  &__thumb {
    background: #000;
    backface-visibility: hidden;
    position: relative;

    img {
      transition: opacity .35s, transform .35s;
      height: auto;
      width: 100%;
    }
  }

  &__thumb-wrap {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    width: 100%;
  }

  &__content {
    padding: 20px;
  }

  &__meta {
    margin-bottom: 10px;
  }

  // Heading
  &__heading {
    margin-bottom: 20px;
  }

  &__title {
    padding: 10px 0;
    margin: 0;
    background: url(../img/light-border.jpg) bottom repeat-x;
  }

  &__subtitle {
    padding: 10px 0;
    margin: 0;
    font-size: .875em;
    line-height: 1.1;
  }

  &:hover {
    #{$this}__thumb img {
      opacity: .5;
      transform: scale(1.1);
      transition: all .3s ease-in-out;
    }
  }
}

/**
 * Blog grid item meta
 */

.developments-list-meta {
  color: #fff;
  display: flex;
  flex-flow: row wrap;

  &__item {
    background: $colorPrimary;
    color: #fff;
    margin-right: 5px;
    line-height: 36px;
    height: 36px;
    font-size: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  &__ico {
    display: inline-block;
    font-size: .9rem;
    background: #f2f2f2;
    color: $colorPrimary;
    height: 36px;
    width: 36px;
    text-align: center;
  }

  &__label {
    display: inline-block;
    font-size: .9rem;
    padding: 0 5px;
    color: #fff;

    a {
      color: #fff;
    }
  }
}