.header {
  background: #fff;
  position: relative;
  z-index: 2;

  &__inner {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__contacts {
    text-align: right;
  }
}

/**
 * Header contacts
 */
.header-phone {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 2px;

  &__icon {
    fill: $color-accent;
    margin-right: 5px;
  }

  &__tel {
    font-weight: 700;
    font-family: $fontFamilyHeadings;
    line-height: 1;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
}

.header-time {
  color: #9e9e9e;
  font-size: 0.875rem;
  line-height: 1;
}

/**
 * Socials
 */
.socials {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    display: inline-block;
  }

  &__ico {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    background: $color-primary;
    border-radius: 50%;

    .icon {
      display: block;
      fill: #fff;
    }
  }
}

.logo {
  &__thumb {
    max-width: 50px;
    margin-right: 10px;
  }

  &__title {
    padding-top: 10px;
    font-family: $fontFamilyHeadings;
    font-weight: 900;
    line-height: 1;
    font-size: 1.5rem;

    &--darked {
      color: $color-accent;
    }
  }

  &__subtitle {
    font-family: $fontCursive;
    font-size: 0.8rem;
    color: $color-text;
    line-height: 1;
  }

  &__link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-decoration: none;
    margin-right: 5px;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
}

@media (max-width: 1200px) {
  .header {
    &__inner {
      padding: 10px 0 15px;
      min-height: 80px;
    }

    &__logo {
      order: 1;
    }

    &__contacts {
      order: 2;
      margin-left: auto;
    }

    &__menu {
      order: 3;
      max-width: none;
      flex: 0;
      margin-left: 30px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__contacts {
      display: none;
    }
  }
}

@media (max-width: 520px) {
  .logo {
    &__title {
      font-size: 1rem;
    }

    &__subtitle {
      display: none;
    }
  }
}
