.inline-subscribe {
  background: $color-accent;
  position: relative;
  color: #fff;
  box-shadow: 0 0 32px 0 rgba(122, 122, 122, 0.4);
  padding: 25px 0;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__heading {
    border-left: 3px solid $color-primary;
    padding-left: 10px;
  }

  &__title {
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #fff;
  }

  &__subtitle {
    font-weight: 300;
    margin-bottom: 0;
    line-height: 1;
    font-family: $fontCursive;
  }

  &__inner {
    padding: 0 20px;
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &__form {
    position: relative;
    margin-right: 15px;
  }

  &__input {
    display: inline-block;
    min-width: 480px;
  }

  &__button {
    position: absolute;
    right: 3px;
    top: 3px;
    bottom: 3px;
    border: 0;
    background: $color-primary;
    color: #fff;
    cursor: pointer;
  }

  &__link {
    margin-left: 10px;
    font-weight: bold;
    border-bottom: 1px dotted $color-primary;

    &:hover,
    &:focus,
    &:active {
      border-bottom-color: transparent;
      color: lighten($color-primary, 10%);
      text-decoration: none;
    }
  }
}

@media (max-width: 1200px) {
  .inline-subscribe {
    &__wrapper {
      flex-flow: column nowrap;
      align-items: center;
    }

    &__heading {
      margin-bottom: 30px;
    }

    &__inner {
      margin: 0 auto;
    }
  }
}

@media (max-width: 768px) {
  .inline-subscribe {
    &__inner {
      flex-flow: column nowrap;
      width: 100%;
    }
  }
}

@media (max-width: 580px) {
  .inline-subscribe {
    &__form {
      margin: 0 0 20px;
      width: 100%;
    }

    &__input {
      min-width: 0;
    }
  }
}
