// h-team
.team-box {
  &__heading {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: $colorHeadings;
    margin: 0 10px 0 0;
  }

  &__item {
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
  }
}

.team-box-item {
  &__thumb {
    min-width: 100px;
    margin-right: 15px;
    border: 3px solid #fff;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  &__name {
    font-weight: 700;
    color: $colorPrimary;
  }

  &__position {
    line-height: 1;
    color: $colorHeadings;
    font-size: 0.75rem;
  }
}
