.topmenu {
  ul {
    display: flex;
    flex-flow: row wrap;
    margin: 1px 0 0;
    padding: 0;
  }

  li {
    list-style: none;
    display: block;
    margin: 0 10px;

    &.menu-item-has-children {
      position: relative;
    }

    &:hover {
      a {
        text-decoration: none;
        background: url(../img/menu-corner.png) top right no-repeat $colorPrimary;
        color: #fff;
        transition: background-color 0.3s ease-in-out;
      }

      p.sub {
        color: #fff;
      }
    }

    &.menu-item-has-children:hover .sub-menu {
      height: auto;
      opacity: 1;
    }

    .sub-menu {
      height: 0;
      overflow: hidden;
      opacity: 0;
      position: absolute;
      z-index: 10;
      min-width: 150px;
      padding-top: 0;
      margin: 0;
      top: 100%;
      left: 0;
      background: url(../img/submenu-top.png) top left repeat-x;
      transition: opacity 0.3s ease-in-out;

      li {
        margin: 3px 0 0;
        width: 100%;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

        &:first-child {
          margin-top: 8px;
        }
      }

      a {
        height: auto;
        background: #fff;
        text-transform: none;
        padding: 4% 20px;
        color: #333;
        font-size: 13px;
        transition: none;

        &:hover,
        &:focus,
        &:active {
          background: $colorPrimary;
          color: #fff;
        }
      }

      p.strong {
        margin: 0;
      }

      p.sub {
        display: none;
      }
    }
  }

  a {
    vertical-align: middle;
    display: block;
    padding: 25px 15px 20px;
    text-transform: uppercase;
    font-size: 15px;
    color: $colorHeadings;
    box-sizing: border-box;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }

  p.strong {
    line-height: 1;
    margin-bottom: 5px;
  }

  p.sub {
    text-transform: none;
    font-size: 13px;
    color: #9e9e9e;
    display: block;
    line-height: 1;
  }
}

@media (max-width: 992px) {
  .topmenu {
    ul {
      justify-content: center;
    }

    a {
      height: auto;
      padding: 20px 10px;
    }
  }
}
