.navbar {
  &__toggler {
    cursor: pointer;
    background: transparent;
    border: 0;
    display: none;
    z-index: 999;
    position: relative;
    outline: none;

    .icon {
      display: block;
      fill: $color-headings;
    }

    &:hover {
      .icon {
        fill: $color-primary;
      }
    }
  }
}

.topmenu {
  display: flex;
  flex-flow: row wrap;
  margin: 1px 0 0;
  padding: 0;

  li {
    list-style: none;
    display: block;
    margin: 0 10px;

    &.menu-item-has-children {
      position: relative;
    }

    &:hover {
      > a {
        text-decoration: none;
        background: url(../img/menu-corner.png) top right no-repeat $color-primary;
        color: #fff;
        transition: background-color 0.3s ease-in-out;
      }

      p.sub {
        color: #fff;
      }
    }

    &.menu-item-has-children:hover .sub-menu {
      height: auto;
      opacity: 1;
    }
  }

  a {
    vertical-align: middle;
    display: block;
    padding: 25px 15px 20px;
    text-transform: uppercase;
    font-size: 15px;
    color: $color-accent;
    box-sizing: border-box;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }

  p.strong {
    line-height: 1;
    margin-bottom: 5px;
  }

  p.sub {
    text-transform: none;
    font-size: 13px;
    color: #9e9e9e;
    display: block;
    line-height: 1;
  }

  .sub-menu {
    padding: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    z-index: 10;
    min-width: 150px;
    padding-top: 0;
    margin: 0;
    top: 100%;
    left: 0;
    background: url(../img/submenu-top.png) top left repeat-x;
    transition: opacity 0.3s ease-in-out;

    li {
      margin: 3px 0 0;
      width: 100%;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

      &:first-child {
        margin-top: 8px;
      }
    }

    a {
      height: auto;
      background: #fff;
      text-transform: none;
      padding: 4% 20px;
      color: #333;
      font-size: 13px;
      transition: none;

      .icon {
        margin-right: 3px;
        display: none;
      }

      &:hover,
      &:focus,
      &:active {
        background: $color-primary;
        color: #fff;

        .icon {
          fill: #fff;
        }
      }
    }

    p.strong {
      margin: 0;
    }

    p.sub {
      display: none;
    }
  }
}

@media (max-width: 1200px) {
  .navbar {
    position: relative;

    &__inner {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 400px;
      transform: translate3d(400px, 0, 0);
      transition: 0.2s ease-in-out;

      &.active {
        transform: translate3d(0, 0, 0);
        box-shadow: 0 0 30px -1px rgba(0, 0, 0, 0.08);
      }
    }

    &__toggler {
      display: block;
    }
  }

  .topmenu {
    display: block;
    background: #fff;
    padding: 80px 0 15px;
    height: 100%;

    li {
      margin: 0;

      &:hover {
        > a {
          background-image: none;
        }
      }
    }

    a {
      padding: 15px 40px;
      white-space: nowrap;
    }

    p.strong {
      margin: 0;
    }

    p.sub {
      display: none;
    }

    .sub-menu {
      position: static;
      height: auto;
      opacity: 1;

      li {
        box-shadow: none;
      }

      a {
        padding: 4% 40px;

        .icon {
          display: inline-block;
        }
      }
    }
  }
}
