.works-box {
  display: flex;
  flex-flow: row wrap;

  &__item {
    max-width: (100%/4);
    flex: 0 0 (100%/4);
    padding: 10px;
  }
}

.work-box {
  $this: &;

  &__inner {
    background: #fff;
    position: relative;
    overflow: hidden;
    padding: 10px;
    border: 1px solid $colorBg;
    box-shadow: 0 0 30px -1px rgba(0, 0, 0, 0.11);
  }

  &__title {
    padding: 15px 20px 10px 20px;
    line-height: 1.1;
    transform: translateY(0);
    transition: 0.3s ease-in-out;
    font-weight: bold;
  }

  &__thumb {
    img {
      max-width: 100%;
      height: auto;
      display: block;
      transform: scale(1);
      transition: 0.3s ease-in-out;
    }
  }

  &__link {
    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }

  &:hover {
    #{$this}__title {
      transform: translateY(100%);
    }

    #{$this}__thumb {
      img {
        transform: scale(1.1);
      }
    }
  }
}

@media (max-width: 768px) {
  .works-box {
    &__item {
      max-width: (100%/2);
      flex: 0 0 (100%/2);
    }
  }
}

@media (max-width: 520px) {
  .works-box {
    &__item {
      max-width: (100%);
      flex: 0 0 (100%);
    }
  }
}
