@use "../../vars";

.illustration {
  margin-bottom: 40px;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  left: -60px;
  width: calc(100% + 60px);
  margin-top: 60px;

  &__image {
    flex: none;
    margin-right: 20px;
    padding-right: 10px;
    max-width: 600px;
    position: relative;
    border-right: 1px solid vars.$color-primary;

    &::before {
      content: "";
      position: absolute;
      inset: -20px 40px 40px -20px;
      background: vars.$color-secondary;
      z-index: -1;
    }
  }

  &__description {
    font-style: italic;
    flex: 1;
    font-size: 0.875rem;
  }

  &__title {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 30px;
    line-height: 1.2;
    color: vars.$color-headings;
  }
}

@media (width <= 768px) {
  .illustration {
    flex-flow: column nowrap;
    left: 0;
    width: 100%;

    &__image {
      max-width: 100%;
      margin: 0 0 15px;
      padding: 0;
      border-right: 0;

      &::before {
        display: none;
      }
    }
  }
}
