/**
 * Buttons
 */
.btn {
  display: inline-block;
  text-align: center;
  padding: 10px 18px 9px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  &--primary {
    color: #fff;
    background: $colorPrimary;
    font-size: 0.9rem;
    font-weight: 600;

    i {
      margin-right: 10px;
    }

    &:hover,
    &:focus,
    &:active {
      color: #fff;
      background: $colorDark;
    }
  }
}
