@use "../vars";

.form-control {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 0.9285rem;
  font-family: vars.$font-family-headings;
  line-height: 1.4;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-input {
  outline: none;
  transition: all 0.4s;
  color: vars.$color-text;
  font-size: 0.9285rem;
  font-family: vars.$font-family-headings;
  padding: 1.3rem 1.5rem;
  width: 100%;
  line-height: 1;
  border: 0;
  border-radius: 3px;

  @include vars.placeholder {
    font-weight: 400;
    opacity: 1;
    color: #a7a3a3;
    transition: opacity 0.5s;
    font-family: vars.$font-family-base;
  }

  &:focus {
    @include vars.placeholder {
      opacity: 0;
    }
  }
}

.form-textarea {
  resize: none;
  height: 65px;
}
