.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  transition: 0.2s ease-in-out;

  &__content {
    flex: 1 0 auto;
  }

  &__footer {
    flex: 0 0 auto;
  }
}

.container {
  max-width: 1230px;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0 auto;

  @include r(1230) {
    width: 100%;
  }

  &--small {
    max-width: 970px;
  }
}

.page-heading {
  background: $color-accent;
  background: url("../img/page-heading-bg.jpg") center center no-repeat;
  background-attachment: fixed;
  color: #fff;
  background-size: cover;
  position: relative;
  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: url(../img/pattern.png);
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &__inner {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 0;
    text-align: right;
  }

  &__title {
    text-transform: uppercase;
    font-size: 2.824rem;
    color: #fff;
    position: relative;
  }

  &__subtitle {
    display: inline-block;
    text-transform: lowercase;
    font-family: $fontCursive;
    font-size: 0.925rem;
    background: $color-primary;
    padding: 2px 18px;
  }

  &__breadcrumbs {
    padding-top: 60px;
  }
}

/**
 * Layout
 */
.layout {
  $this: &;

  padding: 60px 0 80px;

  &__content {
    //
  }

  &--sideright {
    display: flex;
    flex-flow: row wrap;

    #{$this}__content {
      flex: 0 0 66.666666%;
      width: 66.666666%;
    }

    #{$this}__sidebar {
      padding-left: 60px;
      flex: 0 0 33.333333%;
      width: 33.333333%;
    }
  }
}

.grid {
  &__row {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -20px;

    &--vertical-center {
      align-items: center;
    }
  }

  &__column {
    padding: 0 20px;

    &--12 {
      max-width: 50%;
      flex: 0 0 50%;
    }
  }
}

@media (max-width: 1200px) {
  .layout {
    $this: &;

    &--sideright {
      #{$this}__content {
        flex: 1;
        width: auto;
      }

      #{$this}__sidebar {
        padding-left: 30px;
        width: 300px;
        flex: 0 0 300px;
      }
    }
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 768px) {
  .layout {
    $this: &;

    &--sideright {
      #{$this}__content {
        flex: 0 0 100%;
        width: auto;
        margin-bottom: 30px;
      }

      #{$this}__sidebar {
        padding-left: 0;
        width: auto;
        flex: 0 0 100%;
      }
    }
  }

  .grid {
    &__column {
      max-width: 100%;
      flex: 0 0 100%;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .page-heading {
    &__inner {
      text-align: center;
      justify-content: center;
    }

    &__title {
      font-size: 1.647rem;
      margin: 0 0 10px;
    }
  }
}

@media (max-width: 520px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
