*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $font-size-base;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  font-family: $font-family-base;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.57;
  color: $color-text;
}

button {
  cursor: pointer;
}

p {
  padding: 0;
  margin: 0;
  max-height: 1000000px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 6px 0;
  margin: 0;
  max-height: 1000000px;
  line-height: 1.1;
  font-family: $font-family-headings;
  color: $color-accent;
}

b {
  color: $color-accent;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $color-secondary;
    text-decoration: underline;
  }
}

li,
ol,
ul {
  max-height: 1000000px;
}

div {
  max-height: 1000000px;
}
