@use "../vars";

#svg-icons-set {
  display: none;
}

.img-fluid {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix {
  @include vars.clearfix;
}

.theme-color {
  color: vars.$color-primary;
}

.head-color {
  color: vars.$color-accent;
}

.float-right {
  float: right;
}

.curved-hz-1 {
  position: relative;
  background: #fff;

  &::after,
  &::before {
    content: "";
    position: absolute;
    z-index: -2;
  }

  &::before {
    inset: 50% 15% 0;
    box-shadow: 0 0 35px rgb(0 0 0 / 30%);
    border-radius: 25%/10px;
  }
}

/**
 * Headings
 */
.section-heading {
  font-family: vars.$font-family-headings;
  margin-bottom: 60px;

  &__title {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 65px;
      height: 3px;
      background: vars.$color-primary;
    }

    &--centered {
      &::after {
        left: 50%;
        margin-left: -32.5px;
      }
    }
  }

  &__subtitle {
    font-size: 1rem;
    color: vars.$color-accent;
    line-height: 1;
    font-family: vars.$font-cursive;
    font-weight: 300;
    margin-left: 20px;
    margin-bottom: 0;
  }

  .theme-color {
    font-weight: 900;
  }

  &--centered {
    text-align: center;
  }
}
